*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #f9f9f9;
  font-size: 16px;
}
.container {
  max-width: 700px;
  margin: auto;
}
.card {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.screenshot {
  max-width: 100%;
  height: auto;
}
.screenshot img {
  width: 100%;
  height: auto;
}
.col {
  width: 50%;
  margin-right: 15px;
}
form {
  max-width: 530px;
  margin: auto;
  margin-top: 1.5em;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}
.form-group {
  margin-bottom: 1.75rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
img {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}
input,
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  color: #939495;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus,
textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: none;
}

.alert {
  display: none;
  position: relative;
  margin-top: 8px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  max-width: 255px;
  box-shadow: 0 1px 15px #00000027;
}
.triangle {
  position: absolute;
  top: -9px;
  left: 10px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffe2e4db;
}
.alert-danger {
  color: #721c24;
  background-color: #ffe2e4db;
  border-color: #ffe2e4db;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  margin: 0;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #3cb88f;
  color: #fff;
  border: none;
  border-radius: 4px;
}
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #777;
}
.is-invalid {
  border: 1px solid rgb(250, 95, 95);
}
/****/
.is-invalid + .alert {
  display: block;
}

.is-valid {
  border: 1px solid #3cb88f;
  box-shadow: 0 0 3px #80fbd2;
}

.is-valid:focus {
  border-color: #3cb88f;
  box-shadow: 0 0 5px #6eefc4;
}
